@model CFS.Models.MstrDriver
@{
    ViewBag.IsEdit = false;
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    if (Model.doaction == "edit")
    {
        ViewBag.IsEdit = true;
        ViewBag.Title = "Update Driver";
        if (!ViewBag.gblBlnEdit && !ViewBag.gblBlnAdd )
        {
            Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
        }
    }
    else
    {
        ViewBag.Title = "Add New Driver";
        if (!ViewBag.gblBlnAdd)
        {
            Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
        }
    }
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @if (Model.doaction == "edit" && Model.TransporterCode != 0)
                    {
                        <div class="pull-left">
                            <div style="display: inline-flex">
                                <span class="badge bg-light-blue" style="font-size:15px;">Transporter Code : @Model.TransporterCode </span>
                            </div>
                        </div>
                    }
                    @if (Model.doaction == "edit")
                    {
                        <div class="pull-left">
                            <div style="display: inline-flex">
                                <span class="badge bg-light-blue" style="font-size:15px;"></span>
                            </div>
                        </div>
                    }
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            @*<a href="@CFS.Com.ClsCommon.GetUrlReferrer("MstrDriver","Index")" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Back to listing"><i class="fa fa-arrow-left"></i></a>*@
                            <a href="@Url.Action("Index","MstrDriver", new {pg = Request.Params["pg"], search = Request.Params["search"] })" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Back to listing"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("Action", "MstrDriver", FormMethod.Post))
                    {
                        @Html.HiddenFor(Model => Model.pagger.Search)
                        @Html.HiddenFor(Model => Model.MstrDriverID, new { @id = "MstrDriverID", @name = "MstrDriverID" })
                        @Html.HiddenFor(Model => Model.doaction)
                        @Html.HiddenFor(Model => Model.page)
                        @Html.HiddenFor(Model => Model.filter)


                        <div class="col-md-6">
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.Transporter, new { @for = "txtTransporter" })<span class="text-red">*</span> @Html.ValidationMessageFor(Model => Model.TransporterID, String.Empty, new { @class = "help-inline text-red" })
                                    @Html.TextBoxFor(Model => Model.Transporter, new { @id = "txtTransporter", @name = "txtTransporter", @class = "form-control", @placeholder = "Enter Transporter Name" })
                                    @Html.HiddenFor(Model => Model.TransporterID, new { @id = "TransporterID", @name = "TransporterID" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-body">
                                <br />
                                @if (Model.doaction != "edit")
                                {
                                    <button type="button" onclick="validate()" class="btn btn-primary" id="SaveDriver" name="submit" value="Save & Next">Save & Next</button>
                                }
                                @if (Model.doaction == "edit")
                                {
                                    <button type="submit" onclick="Validation()" class="btn btn-primary" id="SaveDriver" name="submit" value="Submit">Submit</button>
                                }
                                <a href="@CFS.Com.ClsCommon.GetUrlReferrer("MstrDriver","Index")" id="cancle" class="btn btn-danger">Cancel</a>

                            </div>
                        </div>
                    }

                    @using (Html.BeginForm("Actionsub", "MstrDriver", FormMethod.Post))
                    {
                        @Html.HiddenFor(Model => Model.pagger.Search)
                        @Html.HiddenFor(Model => Model.doaction)
                        @Html.HiddenFor(Model => Model.page)
                        @Html.HiddenFor(Model => Model.filter)
                        @Html.HiddenFor(Model => Model.MstrDriverID)
                        @Html.HiddenFor(Model => Model.Transporter)
                        @Html.HiddenFor(Model => Model.TransporterID)
                        @Html.HiddenFor(Model => Model.MstrDriverDetailID, new { @id = "MstrDriverDetailID", @name = "MstrDriverDetailID" })

                        if (Model != null && Model.doaction == "edit")
                        {
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.DriverName, new { @for = "DriverName" })<span class="text-red">*</span> @Html.ValidationMessageFor(Model => Model.DriverName, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.DriverName, new { @id = "DriverName", @name = "DriverName", @class = "form-control", @placeholder = "Select Driver Name" })
                                            @Html.HiddenFor(Model => Model.MstrDriverID, new { @id = "MstrDriverID", @name = "MstrDriverID" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.LicenseNo, new { @for = "LicenseNo" })<span class="text-red">*</span> @Html.ValidationMessageFor(Model => Model.LicenseNo, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.LicenseNo, new { @id = "LicenseNo", @name = "LicenseNo", @class = "form-control", @placeholder = "Enter License No." })
                                            @Html.HiddenFor(Model => Model.LicenseNoID, new { @id = "LicenseNoID", @name = "LicenseNoID" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.MobileNumber, new { @for = "MobileNumber" })<span class="text-red">*</span> @Html.ValidationMessageFor(Model => Model.MobileNumber, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.MobileNumber, new { @id = "MobileNumber", @name = "MobileNumber", @class = "form-control", @maxlength = "10", @onkeypress = "return isonlynumber(event)", @placeholder = "Enter Mobile Number" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.Address, new { @for = "Address" })<span class="text-red">*</span> @Html.ValidationMessageFor(Model => Model.AddressID, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.Address, new { @id = "Address", @name = "Address", @class = "form-control", @placeholder = "Enter Address" })
                                            @Html.HiddenFor(Model => Model.AddressID, new { @id = "AddressID", @name = "AddressID" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <br />
                                            @Html.CheckBoxFor(Model => Model.IsBackListed, new { @id = "IsBackListed", @class = "form-control" })
                                            @Html.LabelFor(Model => Model.IsBackListed) @Html.ValidationMessageFor(Model => Model.IsBackListed, String.Empty, new { @class = "help-inline text-red" })
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="dvIsBackListedReason">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.IsBackListedReason, new { @for = "IsBackListedReason" }) @Html.ValidationMessageFor(Model => Model.IsBackListedReason, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.IsBackListedReason, new { @id = "IsBackListedReason", @class = "form-control", @placeholder = "Enter Is Black Listed Reason" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <br />
                                        <div class="form-group">
                                            @Html.CheckBoxFor(Model => Model.IsActive, new { @id = "IsActive", @name = "IsActive", @class = "form-control" })
                                            @Html.Label("IsActive") @Html.ValidationMessageFor(Model => Model.IsActive, String.Empty, new { @class = "help-inline text-red" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="dvSubInActiveReason">
                                            @Html.LabelFor(Model => Model.InActiveReason, new { @for = "InActiveReasonSub" }) @Html.ValidationMessageFor(Model => Model.InActiveReason, String.Empty, new { @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.InActiveReason, new { @id = "InActiveReasonSub", @class = "form-control", @placeholder = "Enter Inactivate Reason" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" onclick="return Validation()" class="btn btn-primary" id="btnDriverSave">Save</button>
                                        <a onclick="ClearDriver()" class="btn btn-danger">Clear</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Driver Name</th>
                                            <th>License No.</th>
                                            <th>Mobile Number</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.MySubDatatable != null && Model.MySubDatatable.Rows.Count > 0)
                                        {
                                            for (int i = 0; i < Model.MySubDatatable.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td style="display:none"><span id="MstrDriverDetailID_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]</span></td>
                                                    <td style="display:none"><span id="AddressID_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["StateID"]</span></td>
                                                    <td><span id="DriverName_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["DriverName"]</span></td>
                                                    <td><span id="LicenseNo_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["LicenseNo"]</span></td>
                                                    <td><span id="MobileNumber_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["MobileNumber"]</span></td>
                                                    <td><span id="Address_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["Address"]</span></td>
                                                    <td>
                                                        @{
                                                            string Icon = "glyphicon glyphicon-remove-circle";
                                                            string click = "click to Active";
                                                            string isactive = "true";
                                                            if (Convert.ToBoolean(Model.MySubDatatable.Rows[i]["IsActive"]) == true)
                                                            {
                                                                Icon = "glyphicon glyphicon-ok-circle";
                                                                click = "click to InActive";
                                                                isactive = "false";
                                                            }
                                                        }
                                                        <a><i onclick="ValidateUpdateStatus('MstrDriverDetail','@isactive','@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]')" title="@click" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="@Icon"></i></a>
                                                    </td>

                                                    <td style="display:none" id="cskIsBackListed_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@(Convert.ToBoolean(Model.MySubDatatable.Rows[i]["IsBlackListed"]) ? "Active" : "InActive")</td>
                                                    <td style="display:none" id="hdncskIsBackListed_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["IsBlackListed"]</td>
                                                    <td style="display:none" id="txtIsBackListedReason_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["IsBlackListedReason"]</td>
                                                    <td style="display:none" id="hdncskIsActive_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["IsActive"]</td>
                                                    <td style="display:none" id="txtInActiveReasonSub_@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]">@Model.MySubDatatable.Rows[i]["InActiveReason"]</td>

                                                    <td>
                                                        <a onclick="EditDriver('@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]')"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                                        <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('MstrDriverDetail','@Model.MySubDatatable.Rows[i]["MstrDriverDetailID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                                        <a href="@Url.Action("deleteSub", "MstrDriver", new { id = Model.MySubDatatable.Rows[i]["MstrDriverDetailID"],MstrDriverID = Model.MySubDatatable.Rows[i]["MstrDriverID"] })" onclick="return confirm('Are you sure want to delete this record?');"><i title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var MstrDriverID = '@Model.MstrDriverID';
    if (MstrDriverID == null || MstrDriverID == undefined || MstrDriverID == "") {
        MstrDriverID = "0";
    }
    var MstrDriverDetailID = '@Model.MstrDriverDetailID';
    if (MstrDriverDetailID == null || MstrDriverDetailID == undefined || MstrDriverDetailID == "") {
        DriverID = "0";
    }
</script>
<script>
    var IsEdit = '@ViewBag.IsEdit';
    var doaction = '@Model.doaction';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/MstrDriver.js")"></script>
