@{
    CFS.Models.ReportsModal ReportsModal = new CFS.Models.ReportsModal();
    if (ViewBag.ReportsModal != null)
    {
        ReportsModal = ViewBag.ReportsModal;
    }
    ViewBag.Title = "Balance Cargo Inventory";
}
@using (Html.BeginForm("BalanceCargoInventory", "Reports", FormMethod.Post))
{
    <div class="">
        <div class="box">
            <div class="box-body">
                @Html.Partial("_ReportsModalAsOnDate")
                @Html.Partial("_ReportsModalCHA")
                @Html.Partial("_ReportsModalForwarder")
                @Html.Partial("_ReportsModalImporter")
                @Html.Partial("_ReportModalAgent")
                @Html.Partial("_ReportModalLine")

                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>

