@{
    ViewBag.Title = "Export  Container Gate Out Report";
}
@using (Html.BeginForm("ExportContainerGateOutReport", "Reports", FormMethod.Post))
{
    <div class="">
        <div class="box">
            <div class="box-body">
                @Html.Partial("_ReportsModalDate")
                @Html.Partial("_ReportModalAgent")
                @Html.Partial("_ReportModalLine")
                @Html.Partial("_ReportsModalCHA")
                @Html.Partial("_ReportsModalForwarder")
                @Html.Partial("_ReportsModalExporter")

                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>