@{
    ViewBag.Title = "Loaded Container Gate Out Confirmation Pending";
}
@using (Html.BeginForm("LoadedContainerGateOutConfirmationPending", "Reports", FormMethod.Post))
{
    <div class="">
        <div class="box">
            <div class="box-body">
                <input type="hidden" id="msg" name="msg" value="@ViewBag.Msg">
                @Html.Partial("_ReportModalAgent")
                @Html.Partial("_ReportModalLine")
                @Html.Partial("_ReportsModalCHA")
                @Html.Partial("_ReportsModalForwarder")
                @Html.Partial("_ReportsModalImporter")
                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>