@{
    ViewBag.Title = "Total Export Invoice Report";
}
@using (Html.BeginForm("TotalExportInvoiceReport", "Reports", FormMethod.Post))
{
    <div class="">
        <div class="box">
            <div class="box-body">
                @Html.Partial("_ReportsModalDate")
                @Html.Partial("_ReportsModalCHA")
                @Html.Partial("_ReportsModalForwarder")
                @Html.Partial("_ReportsModalImporter")
                @Html.Partial("_ReportsModalExporter")
                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>
