@{
    ViewBag.Title = "WH SSR Cargo Report";
}
@using (Html.BeginForm("WHSSRCargoReport", "Reports", FormMethod.Post))
{
    <input type="hidden" id="msg" name="msg" value="@ViewBag.Msg">
    <div class="">
        <div class="box">
            <div class="box-body">
                @Html.Partial("_ReportsModalDate")
                @Html.Partial("_ReportsModalCHA")
                @Html.Partial("_ReportsModalExporter")
                @Html.Partial("_ReportsModalForwarder")
                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>