@model CFS.Models.trnEmptyTruckOutWOCS
@{
    ViewBag.Title = "Empty Truck Out List";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    ViewBag.gblBlnApprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Approve);
    ViewBag.gblBlnUnapprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Unapprove);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a href="@Url.Action("Action", "trnEmptyTruckOutWOCS", new { doaction = "add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Cargo Gate In"><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">


                    <table id="example2" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.trnEmptyTruckOutWOCSNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.trnemptytruckoutwocsno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.trnemptytruckoutwocsno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Empty Truck Out No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.TruckNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> NOC NO</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Driver", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.driver" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.driver" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Driver</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.MobileNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.mobileno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.mobileno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Mobile No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.LicenceNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.licenceno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.licenceno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Licence No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnEmptyTruckOutWOCS", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Containerplacedontruck", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.containerplacedontruck" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.containerplacedontruck" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Container Placed On Truck</a>
                                </th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["TruckNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["Driver"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["MobileNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["LicenceNo"]</td>
                                    <td>@(Convert.ToBoolean(Model.MyDatatable.Rows[i]["Containerplacedontruck"]) ? "Yes" : "No")</td>
                                    <td>@(Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) ? "Approved" : "UnApproved")</td>
                                    <td>
                                        @if (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && ViewBag.gblBlnApprove)
                                        {
                                            <a href="@Url.Action("Confirmation", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true, @TruckID = Model.MyDatatable.Rows[i]["TruckID"], @TruckNo = Model.MyDatatable.Rows[i]["TruckNo"] })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-up"></i></a>
                                        }
                                        else if (ViewBag.gblBlnUnapprove)
                                        {
                                            <a href="@Url.Action("Confirmation", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true, @TruckID = Model.MyDatatable.Rows[i]["TruckID"], @TruckNo = Model.MyDatatable.Rows[i]["TruckNo"] })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-down"></i></a>
                                        }
                                        @if (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && ViewBag.gblBlnEdit)
                                        {
                                            <a href="@Url.Action("Action", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true, @TruckID = Model.MyDatatable.Rows[i]["TruckID"], @TruckNo = Model.MyDatatable.Rows[i]["TruckNo"] })"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                        }
                                        @if (ViewBag.gblBlnView)
                                        {
                                            <a href="@Url.Action("view", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true, @TruckID = Model.MyDatatable.Rows[i]["TruckID"], @TruckNo = Model.MyDatatable.Rows[i]["TruckNo"] })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                        }
                                        <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('trnEmptyTruckOutWOCS','@Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                        @if (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && ViewBag.gblBlnDelete)
                                        {
                                            <a href="@Url.Action("delete", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"] })" onclick="return confirm('Are you sure want to delete this record?');"><i title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                        }
                                        <a target="_blank" href="@Url.Action("GenerateAndDisplayReport", "trnEmptyTruckOutWOCS", new { id = Model.MyDatatable.Rows[i]["trnEmptyTruckOutWOCSID"],TruckID = Model.MyDatatable.Rows[i]["TruckID"], format = "pdf" })"><i title="Click to print" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-print"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    @Html.Partial("_pagination")
                </div>
            </div>
        </div>
    </div>
</section>
<script>
 var IsSearch = '@Model.IsSearch.ToString().ToLower()'; var doaction = '@Model.doaction';</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnEmptyTruckOutWOCS.js")"></script>

