@model CFS.Models.trnWorkOrderOut
@{
    ViewBag.Title = "View Truck Work Order";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<style>
    table th, table td {
        padding: 10px;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Action", "trnWorkOrder", FormMethod.Post))
            {
                <div class="box">
                    <div class="box-body">
                        @if (Model != null && Model.doaction == "edit")
                        {
                            <div class="pull-left">
                                <div style="display: inline-flex">
                                    <h4>
                                        <b>
                                            <span class="badge bg-light-blue" style="font-size:15px;">Work Order No : @Model.trnWorkOrderOutNo </span>
                                            <span class="badge bg-light-blue" style="font-size:15px;">Datetime :@Model.CreatedDate</span>
                                            <span class="badge bg-light-blue" style="font-size:15px;">User :@Model.CreatedUser</span>
                                        </b>
                                    </h4>                                    
                                </div>
                            </div>
                        }
                        <div class="pull-right">
                            <div style="display: inline-flex">
                                <a href="@Url.Action("Index", "trnWorkOrderOut", new {pg = Request.Params["pg"], search = Request.Params["search"] })" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Back to listing"><i class="fa fa-arrow-left"></i></a>
                            </div>
                        </div>
                        <br />
                        <br />
                        @Html.HiddenFor(Model => Model.pagger.Search)
                        @Html.HiddenFor(Model => Model.trnWorkOrderOutID)
                        @Html.HiddenFor(Model => Model.doaction)
                        <input type="hidden" id="trnWorkOrderOutTab" name="trnWorkOrderOutTab" value="@Model.trnWorkOrderOutTab" />
                        <div class="col-md-4">
                            <label> Gatepass No :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.GATEPASSNO</span>
                        </div>
                        <div class="col-md-4">
                            <label> Gatepass Date :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.GATEPASSDATE</span>
                        </div>
                        <div class="col-md-4">
                            <label> Gate In Date :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.ACTUALGATEINDATE</span>
                        </div>
                        <div class="col-md-4">
                            <label> Weighment Receipt No :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.WEIGHMENTINVOICENO</span>
                        </div>
                        <div class="col-md-4">
                            <label> Weighment Receipt Date :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.WEIGHMENTINVOICEDATE</span>
                        </div>
                        <div class="col-md-4">
                            <label> Weighment Slip No :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.WEIGHMENTRECEIPTNO</span>
                        </div>
                        <div class="col-md-4">
                            <label> Weighment Slip Date :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.WEIGHMENTRECEIPTDATE</span>
                        </div>
                        <div class="col-md-4">
                            <label> Gross Weight :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Convert.ToDecimal(Model.GROSSWEIGHT).ToString("0.00")</span>
                        </div>
                        <div class="col-md-4">
                            <label> Truck Tare Weight : </label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Convert.ToDecimal(Model.TruckTareWeight).ToString("0.00")</span>
                        </div>
                        <div class="col-md-4">
                            <label> Net Weight :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Convert.ToDecimal(Model.NETWT).ToString("0.00")</span>
                        </div>
                        <div class="col-md-4">
                            <label> Total Packages :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.TotalPackages</span>
                        </div>
                        <div class="col-md-4">
                            <label> Total Pieces :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.TotalPieces</span>
                        </div>
                        <div class="col-md-4">
                            <label> Total Weight :</label> <span>@CFS.Com.ClsCommon.AddhtmlSpace(3) @Model.TotalWeight</span>
                        </div>
                        <div class="col-md-12" style="border-bottom:1px solid #cdcdcd;margin-bottom: 5px;"></div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.TRANSPORTATIONTYPE) : <span>@Model.TRANSPORTATIONTYPE</span>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.TRUCKNO, new { @for = "TRUCKNO" })  :
                            @if (Model.TRANSPORTATIONTYPE == "Party")
                            {
                                <span>@Model.PARTYTRUCKNO</span>
                            }
                            else
                            {
                                <span>@Model.TRUCKNO</span>
                            }
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.Transporter, new { @for = "Transporter" })  :
                            @if (Model.TRANSPORTATIONTYPE == "Party")
                            {
                                <span>@Model.PartyTransporter</span>
                            }
                            else
                            {
                                <span>@Model.Transporter</span>
                            }
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.Surveyor, new { @for = "Surveyor" })  : <span>@Model.Surveyor</span>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.Vendor, new { @for = "Vendor" })  : <span>@Model.Vendor</span>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.LOCATIONFROM, new { @for = "LOCATIONFROM" })  : <span>@Model.LOCATIONFROM</span>
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Weighment Required", new { @for = "WEIGHMENTREQUIRED" })  : <span>@(Convert.ToBoolean(Model.WEIGHMENTREQUIRED) ? "Yes" : "No")</span>
                        </div>
                        @if (!Convert.ToBoolean(Model.WEIGHMENTREQUIRED))
                        {
                            <div class="col-md-3" id="dvInActiveReason">
                                @Html.LabelFor(Model => Model.NONWEIGHMENTREASON, new { @for = "NONWEIGHMENTREASON" })  : <span>@Model.NONWEIGHMENTREASON</span>
                            </div>
                        }
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.WEIGHMENTPAYMENTMODE, new { @for = "WEIGHMENTPAYMENTMODE" })  : <span>@Model.WEIGHMENTPAYMENTMODE</span>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(Model => Model.MANUALSSRNO, new { @for = "MANUALSSRNO" })  : <span>@Model.MANUALSSRNO</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.Remarks, new { @for = "Remarks" })  : <span>@Model.Remarks</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.BackToTown, new { @for = "BackToTown" })  : <span>@(Convert.ToBoolean(Model.BackToTown)?"Yes":"No")</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border" style="cursor:pointer" data-widget="collapse">
                        <h4><b>NOC Lot Details</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <table id="example2" style="white-space: nowrap" class="table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>NOC No</th>
                                        <th>BOE NO</th>                                        
                                        <th>Input WO Packages</th>
                                        <th>Input WO Pieces</th>
                                        <th>Input WO Weight</th>
                                    </tr>
                                </thead>
                                <tbody id="tblLotDetails"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnWorkOrderOut.js")"></script>
<script>
    setTimeout(function () {
        $(".hideinViewMode").hide();
    }, 500);
    var IsTruckInUsed = '@Model.IsTruckInUsed';
</script>

<div class="modal fade in" id="viewLotDetails" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Lot Details</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:15px;" id="lotdetailnoc">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Okay</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>