@model CFS.Models.trnWorkOrder
@using System.Globalization;
@{
    ViewBag.Title = "Truck Work Order List";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" id="divSearch">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat" id="btnSearch">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a id="btnAdd" href="@Url.Action("Action", "trnWorkOrder", new { doaction = "add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Work Order"><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">
                <div style="overflow:scroll;">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.trnWorkOrderNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.trnworkorderno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.trnworkorderno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.createddate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.createddate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.createddate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order Date</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.DocumentNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.documentno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.documentno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>NOC No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.WeighmentRequired", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.weighmentrequired" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.weighmentrequired" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Weighment Required</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.TruckNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Truck No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.BOENo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.boeno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.boeno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> In-BOE No</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.GateInDate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.gateindate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.gateindate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> GateIn Date</a>
                                </th>
                                <th>
                                    <a class="text-black" href="@Url.Action("index", "trnWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.GateOutDate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.gateoutdate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.gateoutdate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> GateOut Date</a>
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @if (ViewBag.gblBlnView)
                                        {
                                            <a href="@Url.Action("view", "trnWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnWorkOrderID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })">@Model.MyDatatable.Rows[i]["trnWorkOrderNo"].ToString()</a>
                                        }
                                        else
                                        {
                                            @Model.MyDatatable.Rows[i]["trnWorkOrderNo"].ToString()
                                        }

                                    </td>

                                    <td>
                                        @Convert.ToDateTime(Model.MyDatatable.Rows[i]["WorkOrderDate"]).ToString(CFS.Com.ClsCommon.CSProjectDateFormat, CultureInfo.InvariantCulture) - @Model.MyDatatable.Rows[i]["WorkOrderCreatedBy"]
                                    </td>
                                    <td>@Model.MyDatatable.Rows[i]["DocumentNo"]</td>
                                    <td>
                                        @(Convert.ToBoolean(Model.MyDatatable.Rows[i]["WeighmentRequired"]) ? "Yes" : "No")
                                        @{
                                            if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["WeighmentRequired"]))
                                            {
                                                if (Convert.ToString(Model.MyDatatable.Rows[i]["WeighmentPaymentMode"]) == "CASH")
                                                {
                                                    <span>in</span> @Model.MyDatatable.Rows[i]["WeighmentPaymentMode"] <span>Mode</span>
                                                }
                                                else if (Convert.ToString(Model.MyDatatable.Rows[i]["WeighmentPaymentMode"]) == "SSR")
                                                {
                                                    <span>in</span> @Model.MyDatatable.Rows[i]["WeighmentPaymentMode"] <span> No:  @Model.MyDatatable.Rows[i]["ManualSSRNo"]</span>
                                                }
                                                else
                                                {
                                                    <span>in</span> @Model.MyDatatable.Rows[i]["WeighmentPaymentMode"] <span>Mode</span>
                                                }
                                            }
                                        }
                                    </td>
                                    <td>@Model.MyDatatable.Rows[i]["TruckNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["BOENo"]</td>
                                    <td>
                                        @{
                                            string GateInDate = "";
                                            if (!string.IsNullOrEmpty(Model.MyDatatable.Rows[i]["GateInDate"].ToString()))
                                            {
                                                GateInDate = Convert.ToDateTime(Model.MyDatatable.Rows[i]["GateInDate"]).ToString(CFS.Com.ClsCommon.CSProjectDateTimeFormat, CultureInfo.InvariantCulture);
                                            }

                                        }
                                        @GateInDate
                                    </td>
                                    <td>
                                        @{
                                            string GateOutDate = "";
                                            if (!string.IsNullOrEmpty(Model.MyDatatable.Rows[i]["GateOutDate"].ToString()))
                                            {
                                                GateOutDate = Convert.ToDateTime(Model.MyDatatable.Rows[i]["GateOutDate"]).ToString(CFS.Com.ClsCommon.CSProjectDateTimeFormat, CultureInfo.InvariantCulture);
                                            }

                                        }
                                        @GateOutDate
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(Model.MyDatatable.Rows[i]["trnTruckDestuffingID"].ToString()))
                                        {
                                            <a href="@Url.Action("view", "trnTruckDestuffing", new { id = Convert.ToInt32(Model.MyDatatable.Rows[i]["trnTruckDestuffingID"]) , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true,@WorkOrdersearchID = Convert.ToString(Model.MyDatatable.Rows[i]["trnWorkOrderID"]) + "_0_" + Convert.ToInt32(Model.MyDatatable.Rows[i]["trnCargoGateInID"]) ,@WorkOrderNo = Convert.ToString(Model.MyDatatable.Rows[i]["WorkOrderNo"]) + " - " + Convert.ToString(Model.MyDatatable.Rows[i]["DestuffTruckNo"]) + " - " + Convert.ToString(Model.MyDatatable.Rows[i]["CargoGateInNo"]), @IsWorkOrderOrGateIn = true })"><i title="Click to Destuff" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-truck"></i></a>
                                        }
                                        @if (ViewBag.gblBlnEdit && !Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsTruckUsed"]))
                                        {
                                            <a href="@Url.Action("Action", "trnWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnWorkOrderID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                        }
                                        @if (ViewBag.gblBlnView)
                                        {
                                            <a href="@Url.Action("view", "trnWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnWorkOrderID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                        }
                                        <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('trnWorkOrder','@Model.MyDatatable.Rows[i]["trnWorkOrderID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                        @if (ViewBag.gblBlnDelete && !(Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsFinished"])) && !Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsTruckUsed"]))
                                        {
                                            <a><i data-toggle="modal" data-target="#DeleteWorkOrder" onclick="DeleteReason('trnWorkOrder','@Model.MyDatatable.Rows[i]["trnWorkOrderID"]')" title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                        }
                                        <a target="_blank" href="@Url.Action("GenerateAndDisplayReport", "trnWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnWorkOrderID"], format = "pdf" })"><i title="Click to print" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-print"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                    @Html.Partial("_pagination")
                </div>
            </div>

            <div class="modal fade in" id="DeleteWorkOrder" style="display: none; padding-right: 17px;">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Delete Work Order</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="padding:15px;">
                                @Html.HiddenFor(Model => Model.trnWorkOrderID, new { @id = "trnWorkOrderID", @name = "trnWorkOrderID" })
                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.DeleteReason, new { @for = "DeleteReason" })  @Html.ValidationMessageFor(Model => Model.DeleteReason, String.Empty, new { @id = "spn_DeleteReason", @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.DeleteReason, new { @id = "DeleteReason", @name = "DeleteReason", @class = "form-control", @placeholder = "Enter Delete Reason" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger  margin-r-5" onclick="DeleteWorkOrder();" id="delete">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnDeleteCancel">Cancel</button>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</section>
<script>
    var doaction = '@Model.doaction';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnWorkOrder.js")"></script>

