@model CFS.Models.BondInvoice
@using System.Globalization;
@{
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    ViewBag.gblBlnApprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Approve);
    ViewBag.gblBlnUnapprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Unapprove);
    bool IsEdit = false;
    if (Model.doaction == "edit")
    {
        IsEdit = true;
        if (Model.IsPreProforma) {
            ViewBag.Title = "Update Pre Proforma Invoice";
        }
        else
        {
            ViewBag.Title = "Update Bond Invoice";
        }
        if (!ViewBag.gblBlnEdit)
        {
            Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
        }
    }
    else
    {
        if (Model.IsPreProforma)
        {
            ViewBag.Title = "View Pre Proforma Invoice";
        }
        else
        {
            ViewBag.Title = "View Bond Invoice";
        }
        if (!ViewBag.gblBlnView)
        {
            Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
        }
    }

    string InvoiceName = "";

    if (Model.IsPreProforma) {
        InvoiceName = "Pre Proforma";
    }
    else
    {
        InvoiceName = "Bond";
    }

}
<style>
    table th, table td {
        padding: 10px;
    }
</style>
@using (Html.BeginForm("Action", "BondInvoice", FormMethod.Post, new { @id = "frmpost", @name = "frmpost" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    @if (Model != null && (Model.doaction == "edit" || Model.doaction == "view"))
                    {
                        <div class="pull-left">
                            <div style="display: inline-flex">
                                <span class="badge bg-light-blue" style="font-size:15px;"> @InvoiceName Invoice No: @Model.BondInvoicePrefix@Model.BondInvoiceNo</span> @CFS.Com.ClsCommon.AddhtmlSpace(2)
                                <span class="badge bg-light-blue" style="font-size:15px;"> @InvoiceName Invoice Date: @ViewBag.InvoiceDate</span>@CFS.Com.ClsCommon.AddhtmlSpace(2)
                                <span class="badge bg-light-blue" style="font-size:15px;"> Created By: @ViewBag.Username</span>
                            </div>
                        </div>
                    }
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <a href="@Url.Action("Index", "BondInvoice", new {pg = Request.Params["pg"], search = Request.Params["search"], @IsPreProforma = Request.Params["IsPreProforma"]})" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Back to listing"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.SearchNo)<span class="text-red">*</span>
                            @if (Model.IsSearch)
                            {
                                @Html.TextBoxFor(Model => Model.SearchNo, new { @id = "SearchNo", @name = "SearchNo", @class = "form-control", @placeholder = "SELECT In-BOE No", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(Model => Model.SearchNo, new { @id = "SearchNo", @name = "SearchNo", @class = "form-control", @placeholder = "SELECT In-BOE No" })
                            }
                            @Html.HiddenFor(Model => Model.trnDocumentLotDetailsID, new { @id = "trnDocumentLotDetailsID", @name = "trnDocumentLotDetailsID" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.InBOEDate, new { @for = "InBOEDate" })
                            @Html.TextBoxFor(Model => Model.InBOEDate, new { @id = "InBOEDate", @name = "InBOEDate", @class = "form-control", @readonly = true })
                        </div>
                    </div>
                    @if (Model.IsSearch)
                    {

                        @Html.HiddenFor(Model => Model.pagger.Search)
                        @Html.HiddenFor(Model => Model.doaction)
                        @Html.HiddenFor(Model => Model.IsSearch)
                        @Html.HiddenFor(Model => Model.IsFinished)
                        @Html.HiddenFor(Model => Model.BondInvoiceID, new { @ID = "BondInvoiceID", @name = "BondInvoiceID" })
                        @Html.HiddenFor(Model => Model.trnDocumentLotDetailsID, new { @ID = "trnDocumentLotDetailsID", @name = "trnDocumentLotDetailsID" })
                        <input type="hidden" id="SearchNo" name="SearchNo" value="@Model.SearchNo" />
                        @Html.HiddenFor(Model => Model.ImporterID, new { @id = "ImporterID", @name = "ImporterID" })
                        @Html.HiddenFor(Model => Model.Importer, new { @id = "Importer", @name = "Importer" })
                        @Html.HiddenFor(Model => Model.CHAID, new { @id = "CHAID", @name = "CHAID" })
                        @Html.HiddenFor(Model => Model.CHA, new { @id = "CHA", @name = "CHA" })
                        @Html.HiddenFor(Model => Model.ForwarderID, new { @id = "ForwarderID", @name = "ForwarderID" })
                        @Html.HiddenFor(Model => Model.Forwarder, new { @id = "Forwarder", @name = "Forwarder" })
                        @Html.HiddenFor(Model => Model.ConsolerID, new { @id = "ConsolerID", @name = "ConsolerID" })
                        @Html.HiddenFor(Model => Model.Consoler, new { @id = "Consoler", @name = "Consoler" })
                        @Html.HiddenFor(Model => Model.ConsolidatorChargeDatatable, new { @id = "ConsolidatorChargeDatatable", @name = "ConsolidatorChargeDatatable" })
                        @Html.HiddenFor(Model => Model.BondInvoiceDate)
                        @Html.HiddenFor(Model => Model.TariffNo)
                        @Html.HiddenFor(Model => Model.IsPreProforma, new { @id = "IsPreProforma", @name = "IsPreProforma" })
                        <div class="col-md-12" style="border-bottom:1px solid #cdcdcd;margin-bottom: 5px;"></div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.NOCDate) : <span>@Model.NOCDate</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.CHA) : <span>@Model.CHA</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.Forwarder) : <span>@Model.Forwarder</span>
                        </div>
                        <div class="col-md-4">
                            <label>Storage Start Date</label> : <span>@Model.StorageStartDate</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.NoOfStoragePeriod) : <span>@Model.NoOfStoragePeriod</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.StoragePeriod) : <span>@Model.StoragePeriod </span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.NOCValidUpto) : <span>@Model.NOCValidUpto</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.LastStorageValidUpto) : <span>@Model.LastStorageValidUpto</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.LastStoragePattern) : <span>@Model.LastStoragePattern</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.Consoler) : <span>@Model.Consoler</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.Agent) :<span>@Model.Agent</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.Line) :<span>@Model.Line</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.totAv) :<span>@Model.totAv</span>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.totDv) :<span>@Model.totDv</span>
                        </div>
                        <div class="col-md-4">
                            @*@Html.LabelFor(Model=>Model.TotBilledArea)*@<span style="font-weight:bold;">Total Billed Area</span> :<span>@Model.TotBilledArea</span>
                        </div>
                        <div class="col-md-12" style="border-bottom:1px solid #cdcdcd;margin-bottom: 5px;"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.BillToParty, new { @for = "BillToParty" }) : <span>@Model.BillToParty</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.BillToAddress, new { @for = "BillToAddress" }) : <span>@Model.BillToAddress</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.GSTINNo, new { @for = "GSTINNo" })  : <span>@Model.GSTINNo</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.SEZStatus, new { @for = "SEZStatus" })  : <span>@Model.SEZStatus</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.StateName, new { @for = "StateName" })  : <span>@Model.StateName</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.PaymentMode, new { @for = "PaymentMode" }) : <span>@Model.PaymentMode</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(Model => Model.Remarks, new { @for = "Remarks" }) : <span>@Model.Remarks</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model != null && Model.trnDocumentLotDetailsID > 0 && Model != null && Model.PreInvoiceDetails != null && Model.PreInvoiceDetails.Rows.Count > 0)
            {
                <div class="box">
                    <div class="box-header with-border">
                        <h4><b>Previous Invoice Details </b></h4>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow:scroll">
                            <table id="example2" style="white-space: nowrap;" class="table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Last Invoice No</th>
                                        <th>Last Invoice Date</th>
                                        <th>Area Charged</th>
                                        <th>Add. Area Charged</th>
                                        <th>UOM</th>
                                        <th>Storage Start Date</th>
                                        <th>NOC Validity</th>
                                        <th>Storage Valid Date</th>
                                        <th>No of Cont. 20</th>
                                        <th>No of Cont. 40/45</th>
                                        <th>Total Billed AV</th>
                                        <th>Total Billed DV</th>
                                        <th>Total AV + DV</th>
                                        <th>Final Inv. Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PreInvoiceDetails != null && Model.PreInvoiceDetails.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < Model.PreInvoiceDetails.Rows.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["BondInvoiceNo"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["BondInvoiceDate"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["AreaCharged"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["AddAreaCharged"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["UOM"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["StorageStartDate"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["NocValidity"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["StorageValidUpto"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["NoOf20"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["NoOf4045"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["TotalBilledAv"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["TotaLBilledDv"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["TotalBilledAvDv"]</td>
                                                <td>@Model.PreInvoiceDetails.Rows[i]["FinalInvoiceAMT"]</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            @if (Model != null && Model.trnDocumentLotDetailsID > 0 && Model.BondInvoiceID > 0)
            {
                <div class="box">
                    <div class="box-header with-border">
                        <h4><b>BOE Details </b></h4>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow:scroll">
                            <table id="example2" style="white-space: nowrap;" class="table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>In BOE No</th>
                                        <th>In BOE Date</th>
                                        <th>Bond No</th>
                                        <th>Bond Date</th>
                                        <th>CP No</th>
                                        <th>CP Date</th>
                                        <th>BL No</th>
                                        <th>BL Date</th>
                                        <th>IGM No</th>
                                        <th>Item No</th>
                                        <th>Hold Status</th>
                                        <th>AV</th>
                                        <th>Enhanced AV</th>
                                        <th>DV</th>
                                        <th>Enhanced DV</th>
                                        <th>CHA</th>
                                        <th>Forwarder</th>
                                        <th>Consoler</th>
                                        <th>Importer</th>
                                        <th>Packages</th>
                                        <th>Pieces</th>
                                        <th>Weight</th>
                                        <th>Package Type</th>
                                        <th>Cargo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{decimal AV = 0, DV = 0, EAV = 0, EDV = 0;
                                        decimal Pkg = 0, Wt = 0, Pices = 0;
                                    }

                                    @if (Model.dtInBOEDetails != null && Model.dtInBOEDetails.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < Model.dtInBOEDetails.Rows.Count; i++)
                                        {
                                            AV = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["AV"]);
                                            DV = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["DV"]);
                                            EAV = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["EAV"]);
                                            EDV = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["EDV"]);
                                            Pkg = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["NOOFPKGS"]);
                                            Pices = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["NOOFPIECES"]);
                                            Wt = Convert.ToDecimal(Model.dtInBOEDetails.Rows[i]["WEIGHT"]);
                                            <tr>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BOENo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BOEDate"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BondNo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BondDate"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["CPNo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["CPDate"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BLNo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["BLDate"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["IGMNo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["ItemNo"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["Status"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["AV"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["EAV"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["DV"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["EDV"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["SubCHA"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["Forwarder"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["ConsolerNAME"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["IMPORTERNAME"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["NOOFPKGS"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["NOOFPIECES"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["WEIGHT"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["PACKAGETYPE"]</td>
                                                <td>@Model.dtInBOEDetails.Rows[i]["Cargo"]</td>
                                            </tr>
                                        }

                                        <tr>
                                            <td colspan="11" style="text-align:right">Total</td>
                                            <td>@AV</td>
                                            <td>@EAV</td>
                                            <td>@DV</td>
                                            <td>@EDV</td>
                                            <td colspan="4"></td>
                                            <td>@Pkg</td>
                                            <td>@Pices</td>
                                            <td>@Wt</td>
                                            <td colspan="2"></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header with-border">
                        @*<h4><b>Consolidated Charges </b></h4>*@
                        <h4><b>Billing Details</b></h4>
                        <div style="display: inline-flex">
                            <span class="badge bg-aqua" style="font-size:15px;"> 20 : @Model.noof20count</span>@CFS.Com.ClsCommon.AddhtmlSpace(3)
                            <span class="badge bg-aqua" style="font-size:15px;"> 40 : @Model.noof40count</span>@CFS.Com.ClsCommon.AddhtmlSpace(3)
                            <span class="badge bg-aqua" style="font-size:15px;"> 45 : @Model.noof45count</span>@CFS.Com.ClsCommon.AddhtmlSpace(3)
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow:scroll">
                            <table id="example3" style="white-space: nowrap;" class="table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Cont No/Truck</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <th>Arrival Date</th>
                                        <th>Cargo Type</th>
                                        <th>Del. Mode</th>
                                        <th>Bill Commodity</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Weight</th>
                                        <th>Billable Head</th>
                                        <th>Qty/Area</th>
                                        <th>Rate</th>
                                        <th>Discount</th>
                                        <th>Taxable Amt</th>
                                        <th>GST</th>
                                        <th>GST Amt</th>
                                        <th>Total Amt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ConsolidatorChargeDatatable != null && Model.ConsolidatorChargeDatatable.Rows.Count > 0)
                                    {
                                        for (int i = 0; i < Model.ConsolidatorChargeDatatable.Rows.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["ContainerNumber"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["ISOCodeSize"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["ISOCodeType"]</td>
                                                @if (!string.IsNullOrEmpty(Model.ConsolidatorChargeDatatable.Rows[i]["ArrivalDate"].ToString()))
                                                {
                                                    <td>@CFS.Com.ClsCommon.ConvertDateNullToBlank(Convert.ToDateTime(Model.ConsolidatorChargeDatatable.Rows[i]["ArrivalDate"]))</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["CargoType"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["DeliveryMode"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["BillCommodity"]</td>
                                                @if (!string.IsNullOrEmpty(Model.ConsolidatorChargeDatatable.Rows[i]["FromDate"].ToString()))
                                                {
                                                    <td> @CFS.Com.ClsCommon.ConvertDateNullToBlank(Convert.ToDateTime(Model.ConsolidatorChargeDatatable.Rows[i]["FromDate"]))</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                @if (!string.IsNullOrEmpty(@Model.ConsolidatorChargeDatatable.Rows[i]["ToDate"].ToString()))
                                                {
                                                    <td>@CFS.Com.ClsCommon.ConvertDateNullToBlank(Convert.ToDateTime(Model.ConsolidatorChargeDatatable.Rows[i]["ToDate"]))</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["Weight"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["TariffHead"]</td>
                                                <td>@Model.ConsolidatorChargeDatatable.Rows[i]["Qty"]</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["Rate"]).ToString("0.00")</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["Discount"]).ToString("0.00")</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["TaxableAmount"]).ToString("0.00")</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["GST"]).ToString("0.00")</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["GSTAmount"]).ToString("0.00")</td>
                                                <td>@Convert.ToDecimal(Model.ConsolidatorChargeDatatable.Rows[i]["TotalAmount"]).ToString("0.00")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header with-border">
                        <h4>
                            <b> Discount Details </b>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" onclick="openOtherTariff()">Add</button>
                            </div>
                        </h4>
                    </div>
                    @{ decimal TaxableAmount = 0, NetTaxableAmount = 0, GSTAmount = 0, DiscountAmount = 0, TotalAmount = 0, RoundOff = 0, NetAmount = 0; }
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="example2" style="white-space: nowrap" class="table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tariff Head </th>
                                            <th>Taxable Amount </th>
                                            <th>Discount Amt </th>
                                            <th>Net Taxable Amount </th>
                                            <th>GST(%) </th>
                                            <th>GST Amount </th>
                                            <th>Net amount </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ConsolidatedChargesDetails">
                                        @if (Model.DiscountDatatable != null && Model.DiscountDatatable.Rows.Count > 0)
                                        {
                                            //decimal TaxableAmount = 0,GSTAmount=0, DiscountAmount = 0, TotalAmount = 0, RoundOff = 0, NetAmount = 0;
                                            for (int L = 0; L < Model.DiscountDatatable.Rows.Count; L++)
                                            {
                                                if (Model.doaction == "view")
                                                {
                                                    TaxableAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TaxableAmount"]);
                                                    NetTaxableAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["NetTaxableAmount"]);
                                                    GSTAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GSTAmount"]);
                                                    DiscountAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["Discount"]);
                                                    TotalAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TotalAmount"]);
                                                    <tr>
                                                        <td>@Model.DiscountDatatable.Rows[L]["TariffHead"]</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TaxableAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["Discount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["NetTaxableAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GST"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GSTAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TotalAmount"]).ToString("0.00"))</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    TaxableAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["Rate"]);
                                                    NetTaxableAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TaxableAmount"]);
                                                    GSTAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GSTAmount"]);
                                                    DiscountAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["Discount"]);
                                                    TotalAmount += Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TotalAmount"]);
                                                    <tr>
                                                        <td>@Model.DiscountDatatable.Rows[L]["TariffHead"]</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TaxableAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["Discount"]).ToString("0.00"))</td>
                                                        <td id="txtNetTaxableAmount">@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TaxableAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GST"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["GSTAmount"]).ToString("0.00"))</td>
                                                        <td>@(Convert.ToDecimal(Model.DiscountDatatable.Rows[L]["TotalAmount"]).ToString("0.00"))</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        @if (Model.PaymentMode.ToLower() == "cash")
                        {

                            <div class="box-header with-border">
                                <h4>
                                    <b> Receipt Details </b>
                                </h4>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example2" style="white-space: nowrap" class="table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mode Of Payment</th>
                                                <th>Amount</th>
                                                <th>Cheque/DD/NEFT NO</th>
                                                <th>Cheque/DD/NEFT Date</th>
                                                <th>Bank Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.PaymentModeOfReceipt</td>
                                                <td>@Model.AmountOfReceipt.ToString("0.00")</td>
                                                <td>@Model.ChequeDDNeftNoOfReceipt</td>
                                                <td>@Model.ChequeDDNeftDateOfReceipt</td>
                                                <td>@Model.BankDetailsOfReceipt</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        <div class="box-body row">
                            <div class="table-responsive">
                                <table id="example4" class="table-bordered table-hover " style="float:right ;margin-left:2%">
                                    <tbody>
                                        <tr class="text-right">
                                            <td><b> Taxable Amount :</b></td>
                                            <td>@(Convert.ToDecimal(TaxableAmount).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b> Discount Amount :</b></td>
                                            <td>@(Convert.ToDecimal(DiscountAmount).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b>Net Taxable Amount :</b></td>
                                            <td>@(Convert.ToDecimal(NetTaxableAmount).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b> GST Amount :</b></td>
                                            <td>@(Convert.ToDecimal(GSTAmount).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b> Total Amount :</b></td>
                                            <td>@(Convert.ToDecimal(TotalAmount).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b> Round Amount :</b></td>
                                            <td>@((Math.Round(Convert.ToDecimal(TotalAmount)) - Convert.ToDecimal(TotalAmount)).ToString("0.00")) </td>
                                        </tr>
                                        <tr class="text-right">
                                            <td><b> Net Amount :</b></td>
                                            <td>@(Math.Round(Convert.ToDecimal(TotalAmount)).ToString("0.00")) </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade in" id="AddOtherTariffHead" style="display: none; padding-right: 17px;" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" onclick="RefreshPage()" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Add Other Tariff Head</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    @Html.HiddenFor(Model => Model.OtherTariffDetails.BondInvoiceOtherTariffDetailsID, new { @id = "BondInvoiceOtherTariffDetailsID", @name = "BondInvoiceOtherTariffDetailsID" })
                                </div>                                                                
                                <div class="col-md-12" style="overflow: scroll;">
                                    <table id="example2" style="white-space: nowrap" class="table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tariff Head </th>
                                                <th>Qty </th>
                                                <th>Rate </th>
                                                <th>Total</th>
                                                <th>Discount </th>
                                                <th>Discount Amount </th>
                                                <th>Taxable Amount </th>
                                                <th>GST (%) </th>
                                                <th>GST Amount </th>
                                                <th>Net Amount </th>                                                
                                            </tr>
                                        </thead>
                                        <tbody id="OtherTariffDetailsDetails"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-right" onclick="RefreshPage()" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            }

        </div>
    </section>
}
<script>    
    var IsSearch = '@Model.IsSearch.ToString().ToLower()';
</script>

<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/BondInvoice.js")"></script>
