@model CFS.Models.CustomerMaster
@{
    ViewBag.Title = "Customer List";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a href="@Url.Action("Action", "CustomerMaster", new { pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "add" })" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Customer "><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">


                    <div style="overflow-x:scroll">
                        <table id="example2" style="white-space:nowrap" class="table table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "CustomerMaster", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "C.CustomerCode",
                                                               SortOrder = (Model.pagger.SortColumn.ToLower() == "c.customercode" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )">
                                            <i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "c.customercode" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>
                                            Customer Code
                                        </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "CustomerMaster", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "C.CustomerName",
                                                               SortOrder = (Model.pagger.SortColumn.ToLower() == "c.customername" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )">
                                            <i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "c.customername" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>
                                            Customer Name
                                        </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "CustomerMaster", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Username",
                                                               SortOrder = (Model.pagger.SortColumn.ToLower() == "u.username" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )">
                                            <i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.username" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>
                                            Created By Name
                                        </a>
                                    </th>
                                    @if (ViewBag.gblBlnEdit)
                                    {
                                        <th>
                                            <a class="text-black" href="@Url.Action("index", "CustomerMaster", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "C.IsActive",
                                                               SortOrder = (Model.pagger.SortColumn.ToLower() == "c.isactive" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )">
                                                <i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "c.isactive" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>
                                                Active Status
                                            </a>
                                        </th>
                                    }
                                    <th class="freezeLastColumn">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.MyDatatable.Rows[i]["CustomerCode"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["CustomerName"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["CreatedByName"]</td>
                                        @if (ViewBag.gblBlnEdit)
                                        {
                                            <td>
                                                @{
                                                    string Icon = "glyphicon glyphicon-remove-circle";
                                                    string click = "click to Active";
                                                    string isactive = "true";
                                                    if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsActive"]) == true)
                                                    {
                                                        Icon = "glyphicon glyphicon-ok-circle";
                                                        click = "click to InActive";
                                                        isactive = "false";
                                                    }
                                                }
                                                <a><i onclick="ValidateUpdateStatus('MstrCustomer','@isactive','@Model.MyDatatable.Rows[i]["MstrCustomerID"]')" title="@click" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="@Icon"></i></a>
                                            </td>
                                        }
                                        <td class="freezeLastColumnwithWhite">
                                            @if (ViewBag.gblBlnEdit)
                                            {
                                                <a href="@Url.Action("Action", "CustomerMaster", new {  id = Model.MyDatatable.Rows[i]["MstrCustomerID"],pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit" } )"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                            }
                                            @if (ViewBag.gblBlnView)
                                            {
                                                <a href="@Url.Action("view", "CustomerMaster", new { id = Model.MyDatatable.Rows[i]["MstrCustomerID"],pg = Model.pagger.CurrentPage, search = Model.pagger.Search })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                            }
                                            <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('MstrCustomer','@Model.MyDatatable.Rows[i]["MstrCustomerID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                            @if (ViewBag.gblBlnDelete)
                                            {
                                                <a href="@Url.Action("delete", "CustomerMaster", new { id = Model.MyDatatable.Rows[i]["MstrCustomerID"] })" onclick="return confirm('Are you sure want to delete this record?');"><i title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                            }
                                            <a><i onclick="MobileAccess(+'@Model.MyDatatable.Rows[i]["MstrCustomerID"]')" title="Mobile Access" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-mobile"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    @Html.Partial("_pagination")
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("mobileLogin", "CustomerMaster", FormMethod.Post))
     {
    <div class="modal fade in" id="MobileAccess" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Mobile Access</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="col-md-6">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label class="UsernameTxt">Username<span class="text-red">*</span></label>
                                                <input type="text" id="txtUsername" name="txtUsername" class="form-control UsernameTxt" style="width:400px;" />
                                                <span class="text-red" id="txtUsernamemessage" style="display:none;">Username is Required</span><br />
                                                <label class="PasswordTxt">Password<span class="text-red">*</span></label>
                                                <input type="text" id="txtPassword" name="txtPassword" class="form-control PasswordTxt" style="width:400px;" />
                                                <span class="text-red" id="txtPasswordMessage" style="display:none;">Password is Required</span>
                                                <input type="hidden" id="hdnMstrCustomerID" name="hdnMstrCustomerID" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="MobileAccessInsert()" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
     }  

</section>
<script>
    var doaction = '@Model.doaction';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/customerMaster.js")"></script>

