
@model CFS.Models.BWDefaultBillableHead
@{
    ViewBag.Title = "View BW Default Billable Head";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <a href="@Url.Action("Index","BWDefaultBillableHead", new {pg = Request.Params["pg"], search = Request.Params["search"] })" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Back to listing"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Cycle Name : </label> <span>@Model.Cycle</span>
                            </div>
                            <div class="form-group">
                                <label>Delivery Mode : </label> <span>@Model.DeliveryMode</span>
                            </div>
                            <div class="form-group">
                                <label>FCL/LCL : </label> <span>@Model.FclLcl</span>
                            </div>

                            @if (Model.MySubDatatable != null && Model.MySubDatatable.Rows.Count > 0)
                            {

                                <div class="form-group">
                                    <table id="LineName" class="table table-bordered table-hover">

                                        <thead>
                                            <tr>
                                                <th>Tariff Head Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.MySubDatatable.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td id="hdntxtTariffHeadName_@Model.MySubDatatable.Rows[i]["TariffHeadName"]">@Model.MySubDatatable.Rows[i]["TariffHeadName"]</td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
