@model CFS.Models.trnExportCLP
@{
    ViewBag.Title = "Export CLP";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                <a href="@Url.Action("Action", "trnExportCLP" , new { doaction="add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Export CLP "><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">


                    <div style="overflow-x:scroll">
                        <table id="example2" style="white-space:nowrap" class="table table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.trnExportCLPNo" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.trnexportclpno" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.trnexportclpno" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Export CLP No. </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.ContNo" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.contno" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.ContNo" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Cont No.</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.CLPBeginDateAndTime" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.clpbegindateandtime" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.CLPBeginDateAndTime" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> CLP Begin Date & Time</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.CLPEndDateAndTime" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.clpenddateandtime" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.CLPEndDateAndTime" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> CLP End Date & Time </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.StuffWODate" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.stuffwodate" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.StuffWODate" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Stuffing WO Date & Times  </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.ExportCLPUser" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.ExportCLPuser" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " U.ExportCLPUser" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Export CLP User</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.SbInvNo" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.sbinvno" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " u.sbinvno" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i>  SB/INV NO (LOTNO)</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.Size" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.size" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " u.size" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Size </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnExportCLP" , new { pg=Model.pagger.CurrentPage, search=Model.pagger.Search,SortColumn ="U.Line" , SortOrder=(Model.pagger.SortColumn.ToLower() == "u.line" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" )} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == " u.line" && Model.pagger.SortOrder.ToLower()== "asc" ? "desc" : "asc" ).ToString().ToLower())"></i> Line </a>
                                    </th>
                                    <th class="freezeLastColumn">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                {
                                <tr>

                                    <td>@Model.MyDatatable.Rows[i]["trnExportCLPNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["ContNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["CLPBeginDateAndTime"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["CLPEndDateAndTime"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["StuffWODate"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["ExportCLPUser"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["SbInvNo"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["Size"]</td>
                                    <td>@Model.MyDatatable.Rows[i]["Line"]</td>
                                    <td class="freezeLastColumnwithWhite">
                                        @if (ViewBag.gblBlnEdit &&  Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsMovementDone"]))
                                        {
                                        <a href="@Url.Action("Action", "trnExportCLP" , new { id=Model.MyDatatable.Rows[i]["trnExportCLPID"], pg=Model.pagger.CurrentPage, search=Model.pagger.Search, doaction="edit" , @IsSearch=true, @SearchContainerID=Model.MyDatatable.Rows[i]["trnexportstufingwoContainerDetailsID"],@SearchContainerNo =Model.MyDatatable.Rows[i]["ContNo"]})"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                        }
                                        @if (ViewBag.gblBlnView)
                                        {
                                        <a href="@Url.Action("view", "trnExportCLP" , new { id=Model.MyDatatable.Rows[i]["trnExportCLPID"] , pg=Model.pagger.CurrentPage, search=Model.pagger.Search, doaction="edit" , @IsSearch=true, @SearchContainerID=Model.MyDatatable.Rows[i]["trnexportstufingwoContainerDetailsID"],@SearchContainerNo =Model.MyDatatable.Rows[i]["ContNo"] })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                        }
                                        <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('trnExportCLP','@Model.MyDatatable.Rows[i]["trnExportCLPID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                        @if (ViewBag.gblBlnDelete && !Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsFinished"]))
                                        {
                                        <a><i data-toggle="modal" data-target="#DeleteECLPStuff" onclick="DeleteReason('@Model.MyDatatable.Rows[i]["trnExportCLPID"]')" title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                        }
                                        <a target="_blank" href="@Url.Action("GenerateAndDisplayReport", "trnExportCLP" , new { id=Model.MyDatatable.Rows[i]["trnExportCLPID"], @SearchContainerID=Model.MyDatatable.Rows[i]["trnexportstufingwoContainerDetailsID"], format="pdf" })"><i title="Click to print" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-print"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    @Html.Partial("_pagination")
                </div>
            </div>
            <div class="modal fade in" id="DeleteECLPStuff" style="display: none; padding-right: 17px;">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Delete CLP Stuffing</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="padding:15px;">
                                @Html.HiddenFor(Model => Model.trnExportCLPID, new { @id = "trnExportCLPID", @name = "trnExportCLPID" })
                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.DeleteReason, new { @for = "DeleteReason" })  @Html.ValidationMessageFor(Model => Model.DeleteReason, String.Empty, new { @id = "spn_DeleteReason", @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.DeleteReason, new { @id = "DeleteReason", @name = "DeleteReason", @class = "form-control", @placeholder = "Enter Delete Reason" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger pull-right margin-r-5" onclick="DeleteECLPStuff();" id="delete">Delete</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>


</section>
<script>
    var doaction = '@Model.doaction';
    var IsSearch = '@Model.IsSearch.ToString().ToLower()';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnExportCLP.js")"></script>

