@model CFS.Models.Company
@{
    ViewBag.Title = "Company Master";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            @*<div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a href="@Url.Action("Action", "Company", new { doaction = "add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Company "><i class="fa fa-plus"></i></a>
                                }
                            </div>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">


                    <div style="overflow-x:scroll">
                        <table id="example2" style="white-space:nowrap" class="table table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.LocationID", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.locationid" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.locationid" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Location ID</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.CompanyName", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.companyname" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.companyname" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Company Name</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.City", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.city" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.city" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> City</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Pincode", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.pincode" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.pincode" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> PIN Code</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.ContactNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.contactno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.contactno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Contact No</a>
                                    </th>
                                    @if (ViewBag.gblBlnEdit)
                                    {
                                        <th>
                                            <a class="text-black" href="@Url.Action("index", "Company", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.IsActive", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.isactive" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.isactive" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Status</a>
                                        </th>
                                    }
                                    <th class="freezeLastColumn">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.MyDatatable.Rows[i]["LocationID"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["CompanyName"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["City"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["Pincode"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["ContactNo"]</td>
                                        @if (ViewBag.gblBlnEdit)
                                        {
                                            <td>
                                                @{
                                                    string Icon = "glyphicon glyphicon-remove-circle";
                                                    string click = "click to Active";
                                                    string isactive = "true";
                                                    if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsActive"]) == true)
                                                    {
                                                        Icon = "glyphicon glyphicon-ok-circle";
                                                        click = "click to InActive";
                                                        isactive = "false";
                                                    }
                                                }
                                                <a><i onclick="ValidateUpdateStatus('Admin.Company','@isactive','@Model.MyDatatable.Rows[i]["CompanyID"]')" title="@click" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="@Icon"></i></a>
                                            </td>
                                        }
                                        <td class="freezeLastColumnwithWhite">
                                            @if (ViewBag.gblBlnEdit)
                                            {
                                                <a href="@Url.Action("Action", "Company", new { id = Model.MyDatatable.Rows[i]["CompanyID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit" })"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                            }
                                            @if (ViewBag.gblBlnView)
                                            {
                                                <a href="@Url.Action("view", "Company", new { id = Model.MyDatatable.Rows[i]["CompanyID"] })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                            }
                                            <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('Company','@Model.MyDatatable.Rows[i]["CompanyID"]','Admin')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                            @*@if (ViewBag.gblBlnDelete)
                                {
                                    <a href="@Url.Action("delete", "Company", new { id = Model.MyDatatable.Rows[i]["CompanyID"] })" onclick="return confirm('Are you sure want to delete this record?');"><i title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                }*@
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                        @Html.Partial("_pagination")
                    </div>
                </div>
        </div>
    </div>
</section>
<script>
    var doaction = '@Model.doaction';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/Company.js")"></script>

