@model CFS.Models.trnLoadedContainerOutWO
@{
    ViewBag.Title = "Loaded Container Out WO List";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    ViewBag.gblBlnApprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Approve);
    ViewBag.gblBlnUnapprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Unapprove);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a href="@Url.Action("Action", "trnLoadedContainerOutWO", new { doaction = "add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Work Order "><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">


                    <div style="overflow-x:scroll">
                        <table id="example2" style="white-space:nowrap" class="table table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.trnLoadedContainerOutWONo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.trnLoadedContainerOutWOno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.trnLoadedContainerOutWOno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order No</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.createddate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.createddate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.createddate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order Date</a>
                                    </th>

                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.WeighmentRequired", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.weighmentrequired" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.weighmentrequired" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Weighment Required</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.TruckNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.truckno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Truck No</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Transporter", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.transporter" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.transporter" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Transporter</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.ISOCodeSize", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.isocodesize" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.isocodesize" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Size</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.LineName", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.linename" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.linename" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Line </a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.GateInDate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.gateindate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.gateindate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> GateInDate</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.OutPassDate", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.outpassdate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.outpassdate" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> OutPassDate</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnLoadedContainerOutWO", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.SbInvNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.sbinvno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.sbinvno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> SB/Inv No (LOTNO)</a>
                                    </th>
                                    <th class="freezeLastColumn">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                {
                                    <tr>

                                        <td>
                                            @if (ViewBag.gblBlnView)
                                            {
                                                <a href="@Url.Action("view", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })">@(Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOPrefix"].ToString() + Model.MyDatatable.Rows[i]["trnLoadedContainerOutWONo"].ToString())</a>
                                            }
                                            else
                                            {
                                                @(Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOPrefix"].ToString() + Model.MyDatatable.Rows[i]["trnLoadedContainerOutWONo"].ToString())
                                            }

                                        </td>
                                        <td>
                                            @Model.MyDatatable.Rows[i]["WorkOrderDateUser"]
                                        </td>

                                        <td>
                                            @Model.MyDatatable.Rows[i]["WeighmentMode"]
                                        </td>
                                        <td>@Model.MyDatatable.Rows[i]["TruckNo"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["Transporter"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["ISOCodeSize"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["LineName"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["GateInDate"]</td>
                                        <td>@Model.MyDatatable.Rows[i]["OutPassDate"]</td>
                                        <td width="80px;">@Model.MyDatatable.Rows[i]["SbInvNo"]</td>
                                        <td class="freezeLastColumnwithWhite">
                                            @if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && Convert.ToInt32(Model.MyDatatable.Rows[i]["IsCompletedWO"]) == 0 && ViewBag.gblBlnUnapprove)
                                            {
                                                <a href="@Url.Action("Confirmation", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to Unapprove" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-down"></i></a>
                                            }
                                            else if (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && Convert.ToInt32(Model.MyDatatable.Rows[i]["IsCompletedWO"]) == 0 && ViewBag.gblBlnApprove)
                                            {
                                                <a href="@Url.Action("Confirmation", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to Approve" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-up"></i></a>
                                            }
                                            @if (ViewBag.gblBlnEdit && !(Convert.ToBoolean(Model.MyDatatable.Rows[i]["isTruckApproved"])))
                                            {
                                                <a href="@Url.Action("Action", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true})"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                            }
                                            @if (ViewBag.gblBlnView)
                                            {
                                                <a href="@Url.Action("view", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                            }
                                            <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('trnLoadedContainerOutWO','@Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                            @if (ViewBag.gblBlnDelete && !(Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsFinished"])) && !Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && !Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsTruckUsed"]))
                                            {
                                                <a><i data-toggle="modal" data-target="#DeleteWorkOrder" onclick="DeleteReason('trnLoadedContainerOutWO','@Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"]')" title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                            }
                                            <a target="_blank" href="@Url.Action("GenerateAndDisplayReport", "trnLoadedContainerOutWO", new { id = Model.MyDatatable.Rows[i]["trnLoadedContainerOutWOID"], format = "pdf" })"><i title="Click to print" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-print"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                     </div>
                        @Html.Partial("_pagination")
                    </div>
            </div>
            <div class="modal fade in" id="DeleteWorkOrder" style="display: none; padding-right: 17px;">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Delete Work Order</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="padding:15px;">
                                @Html.HiddenFor(Model => Model.trnLoadedContainerOutWOID, new { @id = "trnLoadedContainerOutWOID", @name = "trnLoadedContainerOutWOID" })
                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(Model => Model.DeleteReason, new { @for = "DeleteReason" })  @Html.ValidationMessageFor(Model => Model.DeleteReason, String.Empty, new { @id = "spn_DeleteReason", @class = "help-inline text-red" })
                                            @Html.TextBoxFor(Model => Model.DeleteReason, new { @id = "DeleteReason", @name = "DeleteReason", @class = "form-control", @placeholder = "Enter Delete Reason" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger pull-right margin-r-5" onclick="DeleteWorkOrder();" id="delete">Delete</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>


        </div>
    </div>
</section>
<script>
    var doaction = '@Model.doaction';
</script>
<script>
    var IsEdit = '@ViewBag.IsEdit';
    var IsSearch = '@Model.IsSearch';
</script>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnLoadedContainerOutWO.js")"></script>

