@model CFS.Models.GeneralSettings

@{
    ViewBag.Title = "General Settings";
    CFS.Models.GeneralSettings pm = new CFS.Models.GeneralSettings();
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Index", "GeneralSettings", FormMethod.Post))
            {
                if (Convert.ToString(Session["OTPVerifiedGeneralSettings"]) == "Yes")
                {
                    <div class="box">

                        <div class="box-body">


                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th>
                                            StrKey
                                        </th>
                                        <th>
                                            StrValue
                                        </th>
                                        <th>
                                            ModuleName
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        string OldModuleName = "";
                                        for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                        {
                                            int GeneralSettingsID = Convert.ToInt32(Model.MyDatatable.Rows[i]["GeneralSettingsID"]);
                                            string ModuleName = Convert.ToString(Model.MyDatatable.Rows[i]["ModuleName"]);
                                            if (OldModuleName != ModuleName)
                                            {
                                                <tr>
                                                    <td style="background: green;color:white;font-size:16px;font-weight:bold;" colspan="6">
                                                        @ModuleName
                                                    </td>

                                                </tr>
                                            }
                                            <tr>

                                                <td>
                                                    <input type="hidden" value="@Model.MyDatatable.Rows[i]["GeneralSettingsID"]" id="GeneralSettingsID" name="GeneralSettingsID" />
                                                    <input type="text" value="@Model.MyDatatable.Rows[i]["StrKey"]" id="StrKey" name="StrKey" style="border:1px solid green;width:60px" readonly="readonly" maxlength="5" />
                                                </td>

                                                <td>
                                                    <input type="text" value="@Model.MyDatatable.Rows[i]["StrValue"]" id="StrValue" name="StrValue" style="border: 1px solid green; width: 300px;" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Model.MyDatatable.Rows[i]["ModuleName"]" id="ModuleName" name="ModuleName" style="border: 1px solid green; width: 200px;" maxlength="255" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Model.MyDatatable.Rows[i]["Description"]" id="Description" name="Description" style="border: 1px solid green; width: 400px;" />
                                                </td>


                                                <td>
                                                    <select id="IsActive" name="IsActive" style="border:1px solid green">
                                                        @if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsActive"]))
                                                        {
                                                            <option value="True" selected="selected"> Yes</option>
                                                            <option value="False">No</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="True"> Yes</option>
                                                            <option value="False" selected="selected">No</option>
                                                        }


                                                    </select>

                                                </td>
                                                <td>
                                                    <select id="FlagDeleted" name="FlagDeleted" style="border:1px solid green">
                                                        @if (Convert.ToBoolean(Model.MyDatatable.Rows[i]["FlagDeleted"]))
                                                        {
                                                            <option value="True" selected="selected"> Yes</option>
                                                            <option value="False">No</option>

                                                        }
                                                        else
                                                        {
                                                            <option value="True"> Yes</option>
                                                            <option value="False" selected="selected">No</option>
                                                        }

                                                    </select>
                                                </td>

                                            </tr>

                                            OldModuleName = Convert.ToString(Model.MyDatatable.Rows[i]["ModuleName"]);

                                        }
                                    }
                                    <tr>


                                        <td style="background: pink">
                                            <input type="hidden" value="0" id="GeneralSettingsID" name="GeneralSettingsID" />
                                            <input type="text" id="StrKey" name="StrKey" style="border:1px solid #3c8dbc;width:60px;" maxlength="5" />
                                        </td>
                                        <td style="background: pink">
                                            <input type="text" id="StrValue" name="StrValue" style="border:1px solid #3c8dbc;width:300px;" />
                                        </td>
                                        <td style="background: pink">
                                            <input type="text" id="ModuleName" name="ModuleName" style="border:1px solid #3c8dbc;width:200px;" />
                                        </td>
                                        <td style="background: pink">
                                            <input type="text" id="Description" name="Description" style="border: 1px solid #3c8dbc; width: 400px;" />
                                        </td>
                                        <td style="background: pink">
                                            <select id="IsActive" name="IsActive" style="border:1px solid green">
                                                <option value="True" selected="selected"> Yes</option>
                                                <option value="False">No</option>
                                            </select>
                                        </td>
                                        <td style="background: pink">
                                            <select id="FlagDeleted" name="FlagDeleted" style="border:1px solid green">
                                                <option value="True"> Yes</option>
                                                <option value="False" selected="selected">No</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            @Html.HiddenFor(model => model.pmDoAction, new { Value = ViewBag.doaction })
                            @Html.HiddenFor(model => model.pmTotalPages, new { Value = Model.MyDatatable.Rows.Count })

                            <div class="col-md-12">
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a href="@Url.Action("Index", "GeneralSettings")" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box">
                        <div class="box-body">

                            <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" id="OTP" name="OTP" class="form-control" placeholder="Entre OTP" />
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Submit</button>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index", "GeneralSettings")" class="btn btn-danger">Cancel</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

 