@model CFS.Models.trnContainerDestuffWorkOrder
@{
    ViewBag.Title = "Container Destuffing Work Order List";
    ViewBag.gblBlnView = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.View);
    ViewBag.gblBlnEdit = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Edit);
    ViewBag.gblBlnAdd = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Add);
    ViewBag.gblBlnDelete = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Delete);
    ViewBag.gblBlnApprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Approve);
    ViewBag.gblBlnUnapprove = CFS.Com.ClsCommon.getaccesspage(CFS.Com.ClsCommon.Controller(), CFS.Com.ClsCommon.AccessType.Unapprove);
    if (!ViewBag.gblBlnView)
    {
        Response.Redirect(CFS.Com.ClsCommon.GetRootPath() + "Error/unauthorize/");
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-flex">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" Name="txtSearch" type="text" class="form-control" value="@Model.pagger.Search">
                                <span class="input-group-btn">
                                    <button type="button" onclick="SearchData()" class="btn btn-primary btn-flat">Go!</button>
                                </span>
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                @if (ViewBag.gblBlnAdd)
                                {
                                    <a href="@Url.Action("Action", "trnContainerDestuffWorkOrder", new { doaction = "add" } )" class="btn btn-primary btn-sm" style="color: #fff" data-toggle="tooltip" title="Add New Weighment Cash Invoice"><i class="fa fa-plus"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body">
                    <style>
                        .freezeLastColumn {
                            position: sticky;
                            right: 0;
                        }
                    </style>
                    <div style="overflow:scroll">
                        <table id="example2" class="table table-bordered table-hover" style="white-space:nowrap;">

                            <thead>
                                <tr>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.trnContainerDestuffWorkOrderNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.trncontainerdestuffworkorderno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.trncontainerdestuffworkorderno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order No</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.CreatedDateByUser", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.createddatebyuser" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.createddatebyuser" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Work Order Date</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.trnDocumentNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.trndocumentno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.trndocumentno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>Noc No</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Surveyor", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.surveyor" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.surveyor" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i>Surveyor</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.Vendor", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.vendor" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.vendor" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Vendor</a>
                                    </th>
                                    <th>
                                        <a class="text-black" href="@Url.Action("index", "trnContainerDestuffWorkOrder", new {  pg = Model.pagger.CurrentPage, search = Model.pagger.Search,SortColumn = "U.ContainerNo", SortOrder = (Model.pagger.SortColumn.ToLower() == "u.containerno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc")} )"><i title="Click to sorting" class="fa fa-sort-amount-@((Model.pagger.SortColumn.ToLower() == "u.containerno" && Model.pagger.SortOrder.ToLower() =="asc" ? "desc" : "asc").ToString().ToLower())"></i> Container No</a>
                                    </th>
                                    <th class="freezeLastColumn">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MyDatatable != null && Model.MyDatatable.Rows.Count > 0)
                                {
                                    for (int i = 0; i < Model.MyDatatable.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderNo"].ToString()</td>

                                            <td>@Model.MyDatatable.Rows[i]["CreatedDateByUser"]</td>
                                            <td>@Model.MyDatatable.Rows[i]["trnDocumentNo"]</td>
                                            <td>@Model.MyDatatable.Rows[i]["Surveyor"]</td>
                                            <td>@Model.MyDatatable.Rows[i]["Vendor"]</td>
                                            <td>@Model.MyDatatable.Rows[i]["ContainerNo"]</td>
                                            <td class="freezeLastColumn" style="background-color:white;">
                                                @*@if(!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && ViewBag.gblBlnApprove && (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsContUsed"])))
                                    {
                                    <a href="@Url.Action("Confirmation", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "view", @IsSearch = true })"><i title="Click to Approve" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-up"></i></a>
                                    }
                                    else if(ViewBag.gblBlnUnapprove  && Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsApproved"]) && (!Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsContUsed"])))
                                    {
                                    <a href="@Url.Action("Confirmation", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "view", @IsSearch = true})"><i title="Click to Unapprove" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-thumbs-o-down"></i></a>
                                    }*@
                                                @if (ViewBag.gblBlnEdit)
                                                {
                                                    <a href="@Url.Action("Action", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "edit", @IsSearch = true })"><i title="Click to Edit" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-edit"></i></a>
                                                }
                                                @if (ViewBag.gblBlnView)
                                                {
                                                    <a href="@Url.Action("view", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"] , pg = Model.pagger.CurrentPage, search = Model.pagger.Search, doaction = "view", @IsSearch = true })"><i title="Click to view" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-eye"></i></a>
                                                }
                                                <a><i data-toggle="modal" data-target="#myModal" onclick="ShowHistory('trnContainerDestuffWorkOrder','@Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"]')" title="History" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-info"></i></a>
                                                @if (ViewBag.gblBlnDelete && !(Convert.ToBoolean(Model.MyDatatable.Rows[i]["IsContUsed"])))
                                                {
                                                    <a href="@Url.Action("delete", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"], pg = Model.pagger.CurrentPage, search = Model.pagger.Search })" onclick="return confirm('Are you sure want to delete this record?');"><i title="Click to Delete" style="font-size: x-large; cursor: pointer; vertical-align: middle; color:red" class="fa fa-trash-o"></i></a>
                                                }
                                                <a target="_blank" href="@Url.Action("GenerateAndDisplayReport", "trnContainerDestuffWorkOrder", new { id = Model.MyDatatable.Rows[i]["trnContainerDestuffWorkOrderID"], format = "pdf", trnDocumentID = Model.MyDatatable.Rows[i]["trnDocumentID"] })"><i title="Click to print" style=" font-size: x-large; cursor: pointer; vertical-align: middle;" class="fa fa-print"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    @Html.Partial("_pagination")
                </div>
            </div>
        </div>
    </div>
</section>
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/trnContainerDestuffWorkOrder.js")"></script>
